@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-image: url(wallpaperYula.jpg);
  background-position-y: center;
  background-position-x: center;

}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  width: 220px;
  margin-bottom: 20px;
  font-size: 20px;
  outline: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  display: grid;
  justify-items: center;
}
input{
  border-radius: 5px;
  text-align: center;
  border: 1px solid #fff;
  width: auto;
}
.img img{
  width: 15rem;
  border-radius: 15rem;
}
.text h1{
  font-family: 'Reem Kufi', sans-serif;
  display: grid;
  align-items: center;
  font-size: 3.5rem;
  color:#fbfbfbde;
}
h3, h4{
  color: #fff;
  font-family: sans-serif;
}
.text{
  display: grid;
  justify-items: center;
}